<!---->

<br>

<textarea name="NewTextArea" id="NewTextArea"
  [(ngModel)]="text"
  cols="200" rows="10"
  placeholder="Type new text here."
  class="new-text"
  (keydown)="whenKeyDown($event)"></textarea>
<br>
<button id="SaveButton" (click)="whenSaveClicked()">Save</button>
<hr>
<br>
