<!---->

<div class="past-texts">
  <div class="show-hide-block">
    <button class="smaller" (click)="whenShowHideClicked()">{{ showHideText }}</button>
    <br>
    <button class="smaller mini" (click)="whenExpandClicked()" [disabled]="!canExpand">+</button>
    <button class="smaller mini" (click)="whenCollapseClicked()" [disabled]="!canCollapse">–</button>
  </div>

  <div class="collapsible" [hidden]="!doDisplay">
    <br>
    <past-text *ngFor="let pastText of pastTexts" [datetime]="pastText.datetime" [text]="pastText.text"></past-text>
    <br>
  </div>

</div>
