<!---->

<div class="login-background">
<h1 class="inset">PlainWrite</h1>

  <div class="login" (keyup)="whenKeyUp($event)">
    <input id="Individual" type="text" class="interaction"
    [(ngModel)]="individual" placeholder="Individual">
    <br>
    <br>
    <input id="Secret" type="password" class="interaction"
    [(ngModel)]="secret" placeholder="Secret">
    <br>
    <br>
    <button class="interaction" (click)="whenBeginButtonClicked()">Begin</button>
  </div>
</div>
