<!---->

<!-- Login screen is at bottom. -->

<div class="futures-content" hidden="true">
  Unsubscribing from Observables in new destructor calls (overriding some new
    Angular methods, with new imports) on the components that subscribe to them.
  <br>
  Elements all lined up, maybe with CSS-grid, and maybe resizing all worked out smoothly.
  <br>
  Maybe more spacing in the text areas.
  <br>
  HTTPS X.509 file/s and usage.
  <br>
  HTTPS for all calls.
</div>


<div id="app" *ngIf="isLoggedIn">

  <h1>PlainWrite</h1>

  <button class="smaller mini" (click)="whenLogOutButtonClicked()">X</button>

  <br>
  <new-text></new-text>
  <br>

  <past-texts></past-texts>

</div>

<app-login (didLogIn)="whenDidLogIn()" *ngIf="!isLoggedIn"></app-login>


<div class="reference-content" hidden="true">
  <br>
  &#x2713;
  <br>
  &#x2718;
  <br>
</div>
