<!---->

<div class="past-text-block">
  <span class="date-time">{{ textDate }}, {{ textTime }}</span>

  <div [hidden]="!doDisplay">
    <textarea class="past-text"
    cols="200" rows="5"
    readonly>{{ text }}</textarea>
  </div>

  <button id="ShowHide"
    class="smaller mini"
    [ngClass]="supplyButtonClass()"
    (click)="whenShowHideClicked()"
  >{{ showHideText }}
  </button>

</div>
