/**/

* {
  font-family: sans-serif;
}

.new-text {
  max-width: 86.5%;
  margin: 20px 5% 20px 5%;
  padding: 20px;
}

button {
  font-size: large;
  width: 10%;
  min-width: 100px;
  margin-left: 85%;
  margin-right: 5%;
  padding: 10px 20px 8px 20px;
  position: relative;
  box-shadow: dimgray 1px 1px;
}

button.smaller {
  padding: 6px 10px 4px 10px;
}

button.mini {
  width: 3%;
  min-width: 25px;
  margin: 5px 5% 5px 92%;
}

button:active {
  top: 1px;
  left: 1px;
}

button.reversed {
  color: white;
  background: dimgray;
  border-radius: 5px;
}

.past-text-block {
  border-bottom: gray 10px solid;
  margin-bottom: 10px;
}

.date-time {
  font-style: italic;
  color: white;
  margin-left: 80%;
  padding: 15px 5px;
}

.past-text {
  max-width: 86%;
  background: gainsboro;
  margin: 5px 50px 5px 5%;
  padding: 20px;
}

.past-texts {
  padding: 10px;
  background: dimgray;
}

.ex {
  text-decoration: line-through;
}

.login-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* Very dark gray. */
  background: rgb(56, 56, 56);
}

.login {
  position: fixed;
  top: 25%;
  left: 35%;
  height: 30%;
  width: 30%;
}

.inset {
  color: white;
  margin-left: 0.5%;
}

.interaction {
  font-size: larger;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

